<!-- wp:template-part {"slug":"header-checkout","tagName":"header"} /-->

<!-- wp:woocommerce/page-content-wrapper {"page":"checkout"} -->
<!-- wp:group {"tagName":"main","className":"wrap"} -->
<main class="wp-block-group wrap">
	<!-- wp:woocommerce/store-notices /-->

	<!-- wp:html -->
	<nav class="breadcrumbs"><a href="/">Home</a><span class="sep">/</span><a href="/koszyk/">Koszyk</a><span class="sep">/</span><span class="current">Kasa</span></nav>
	<!-- /wp:html -->

	<!-- wp:post-title {"level":1} /-->

	<!-- wp:post-content /-->
</main>
<!-- /wp:group -->
<!-- /wp:woocommerce/page-content-wrapper -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
